@import "tailwindcss";

@theme {
  --color-primary: #0056A0;
  --color-secondary: #ffc107;
  --color-accent: #FFCB05;
  --color-background-light: #F8F9FA;
  --color-background-dark: #101622;
  --color-text-light: #333333;
  --color-text-dark: #F8F9FA;
  --color-border-light: #CED7E8;
  --color-border-dark: #49659C;
  
  --font-display: "Work Sans", "Lexend", sans-serif;
  
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
