@import "tailwindcss";

@theme {
  --color-primary: #1152d4;
  --color-secondary: #ffc107;
  --color-accent: #FFC72C;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101622;
  --color-text-light: #6c757d;
  --color-text-dark: #adb5bd;
  --color-border-light: #dee2e6;
  --color-border-dark: #333c4a;
  
  --font-display: "Lexend", sans-serif;
  
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
